html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
 
  *{
    box-sizing: border-box;
  }

header {
    height: 90px;
    background-color: #38b4ee;
    opacity: 70%;
    color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
}
  
.header-logo {
    font-size: 30px;
    float: left;
    margin: 20px 40px;
}
  
.header-list li {
    font-size:20px;
    float: left;
    margin: 30px 20px;
}

.menu:link{
    color:#fff;
}

.main{
    padding:100px 80px;
}

.copy-container{
  text-align: center;
  width:100%;
  margin:0 auto;
  padding-top:60px;
}

.copy-container h1{
  font-size: 60px;
}

.copy-container h2{
  font-size: 60px;
}
 
.copy-container p{
  font-size: 24px;
  text-align: left;
  margin-top:15px
}

.contents{
  height:800px;
  margin-top:100px;
}

.section-title{
  font-size:28px;
  border-bottom:1px solid #000;
  padding-bottom:15px;
  margin-bottom:30px;
}

.contents-item{
  float:left;
  margin-top:15px;
  margin-right:30px;
  opacity: 0.8;
}

.contents-item:hover{
  opacity:1;
}

.contents-name{
  text-align: center;
  font-size:20px;
  font-weight:bold;
  margin-top:15px;
}

.hutomoji{
  font-weight: bold;
}

.btn-wrapper{
  margin-top: 20px;
}

.btn{
  padding: 8px 24px;
  color:white;
  opacity:0.8;
  border-radius: 4px; 
}

.btn:hover{
  opacity:1;
}

.fa{
  margin-right: 5px;
}

.youtube{
  background-color: RGB(218,23,37); 
  margin-right: 20px;
}

.twitter{
  background-color: RGB(29,161,242);
}


footer{
  height:5%;
  background-color:#38b4ee;
  opacity:70%;
}

footer p{
  color:#fff;
  text-align: center;
}
